@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,300i,500,500i");
@import url("normalize.css");

/*
 =====================================================

   _____                                _    _ _  __
  / ____|                              | |  | | |/ /
 | (___  _ __   ___  _ __   __ _  ___  | |  | | ' /
  \___ \| '_ \ / _ \| '_ \ / _` |/ _ \ | |  | |  <
  ____) | |_) | (_) | | | | (_| |  __/ | |__| | . \
 |_____/| .__/ \___/|_| |_|\__, |\___|  \____/|_|\_\
        | |                 __/ |
        |_|                |___/

=====================================================
 SPONGE UK DEVELOPER TEST
 Main CSS
=====================================================
*/

body {
  min-width: 320px;
  font-family: "Roboto", serif;
  color: #212D35;
  font-weight: 300;
  font-size: 125%;
}

@media screen and (min-width: 501px) {
  body {
    font-size: 100%;
  }
}

#header-wrapper {
  position: relative;
  background: #F9423A;
  z-index: 2;
}

#header {
  padding-top: 60px;
  padding-bottom: 45px;
  color: #FFF;
}

#header img {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  display: block;
}

#header h1 {
  color: #FFF;
}

#header h1 + p {
  font-size: 1.8em;
}

#content {
  padding-top: 30px;
  padding-bottom: 30px;
}

img{
  width: 100%;
}

#tasks {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  position: relative;
  background-color: #F2F2F2;
  counter-reset: tasks;
  z-index: 1;
}

#tasks article {
  counter-increment: tasks;
}

#tasks article h5 {
  color: #F9423A;
}

#tasks article h5::before {
  min-width: 0.75em;
  padding-right: 0.5em;
  display: inline-block;
  color: #212D35;
  font-weight: 300;
  vertical-align: text-bottom;
  content: counter(tasks) ".";
}

#tasks article h5 .difficulty {
  margin-left: 1.5em;
  /*display: inline-block; - This inline-block is ignore due to the float being applied */
  float: right;
  color: #FFB400;
  font-size: 0.8em;
  white-space: nowrap;
}

#tasks article h5 .difficulty .fa {
  margin-left: 0.1em;
}

#tasks article h5 .difficulty .fa-star-o {
  color: #7E7772;
}

#footer-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #FFF;
  background-color: #212D35;
  z-index: 2;
}

#footer a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h3,
h4,
h5,
h6 {
  color: #F9423A;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #000;
}

p,
ul,
ol {
  font-size: 1.5em;
}

p code,
li code {
  padding-right: 0.2em;
  padding-left: 0.2em;
  line-height: 1.35;
  vertical-align: baseline;
  font-size: 0.9em;
  background-color: #D4D4D4;
  outline: none;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

/**
 * Styles to make the boxes actually visible to start
 */

 
#boxes {
  padding: 40px;
}

#box-left {
  height: 50px;
}

#box-right {
  height: 50px;
}


@media screen and (min-width: 400px) and (max-width: 767px) {

  #boxes {
    padding: 40px;
    display: block;
    direction: rtl;
    position: relative;

   
  }

  #box-left {
    width: 210px;
    max-width: 50%;
    height: 50px;
    display: inline-block;
    direction: ltr;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }  

  #box-left p {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }

  #box-right {
    height: 0;
    width: 50%;
    direction: ltr;
    padding-bottom: 50%;
    display: inline-block;
  }
  
  #box-right .posright {
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    transform: translate(-50%, -45%);
    position: relative;
    top: 50%;
    margin: 0;
    line-height: normal;
    left: 50%;
    padding-top: 90%;
    padding-bottom: 0;
  
  }

  #boxes span {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    background-color: #7b0051;
    position: relative;
    top: 70px;
    padding: 15px;
    left: 40px;
  }

}

@media screen and (min-width: 768px) {

  #boxes {
    padding: 40px;
    display: block;
    direction: rtl;
    position: relative;

   
  }

  #box-left {
    width: 210px;
    max-width: 50%;
    height: 50px;
    display: inline-block;
    direction: ltr;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }  

  #box-left p {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }

  #box-right {
    height: 0;
    width: 50%;
    direction: ltr;
    padding-bottom: 50%;
    display: inline-block;
  }
  
  #box-right .posright {
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    transform: translate(-50%, -45%);
    position: relative;
    top: 50%;
    margin: 0;
    line-height: normal;
    left: 50%;
    padding-top: 90%;
    padding-bottom: 0;
  
  }

  #boxes span {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    background-color: #7b0051;
    position: relative;
    top: 70px;
    padding: 15px;
    left: 40px;
  }

}



/*
Accordion
*/

.accordion {
  margin: 0 auto;
}
.accordion dt, .accordion dd {
  padding: 10px;
  border: 1px solid black;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid black;
}
.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}

a {
  text-decoration: none;
}

table td {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 2.2rem
}

